$icomoon-font-family: "img-icons" !default;
$icomoon-font-path: "../../../fonts/logo-in-font/fonts" !default;

$img-drawing-1: "\e907";
$img-drawing-path1: "\e900";
$img-drawing-path2: "\e901";
$img-drawing-path3: "\e902";
$img-drawing-path4: "\e903";
$img-drawing-path5: "\e904";
$img-drawing-path6: "\e905";
$img-drawing-path7: "\e906";
