.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  display: flex;
  top: 0;
  &:not(.indexHeader) {
    background-color: #011023;
  }
  & .brand-name {
    & img {
      transition: 0.3s ease-in-out;
    }
  }
  &.indexHeader {
    & .brand-name {
      & img {
        height: 100px !important;
      }
    }
  }
}
.offcanvas-start {
  background: #011023;
}
.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: black;
  line-height: 1;
  padding: 8px 0;
  margin-right: 10px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  text-decoration: none;
  & i {
    margin: 0 auto;
    color: black;
    &:hover {
      color: white;
    }
  }
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  & li {
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    & a {
      color: white;
      text-decoration: none;
      display: block;
      text-align: center;
      padding: 10px;
    }
  }
}
.SidebarIconToggle {
  width: 22px;
  height: 22px;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 15px;
  cursor: pointer;
  transform: translateY(-50%);
}
.spinner {
  height: 3px;
  background: white;
  transition: all 0.3s;
  width: 26px;
  border-radius: 20px;
}
.spinner.bottom {
  height: 4px;
  border-radius: 20px;
  width: 26px;
}
.spinner.middle,
.spinner.bottom {
  margin-top: 5px;
}
input {
  display: none;
}
.brand {
  justify-content: space-between;
  & .comman_button {
    border-color: #c1c8d4;
    background-color: #030f25;
    color: #737478;
    text-decoration: none;
    // padding: 10px 14px;
    font-weight: 600;
    transition: 0.8s;
    &:hover {
      transform: translateY(-5px);
      color: $white !important;
    }
  }
  & form {
    width: 40%;
    height: 100%;
    display: flex;
    position: relative;
    border: 3px solid white;
    border-radius: 30px;
    padding: 5px;
    margin-top: 6px;
    background: white;
    box-shadow: 1px 2px 3px black;
    &:hover {
      background: black;
    }
    & input {
      border: none;
      padding: 0px;
      border-radius: 50px;
      background: none;
      padding-left: 15px;
      color: black;
      font-family: "Tiempos Headline", sans-serif;
      font-weight: bold;
      &:hover {
        background: black;
        color: white;
      }
    }
    & i {
      color: black;
      padding-right: 10px;
      margin-top: 2px;
      font-size: 20px;
    }
    &:hover i {
      color: white;
    }
  }
}
.social-links .hovers-facebook:hover {
  background-color: #3b5998;
}
.social-links .hovers-youtube:hover {
  background-color: #c5322d;
}
.social-links .hovers-twitter:hover {
  background-color: #00acee;
}
.social-links .hovers-linkedin:hover {
  background-color: #3b5998;
}
.social-links .hovers-instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
.header.brand .header_logo1 {
  transform: rotate(0deg);
  transition: 1s;
}
.header .brand:hover .header_logo1 {
  transform: rotate(-60deg);
  transition: 1s;
}
.header .brand .button {
  border-radius: 10px;
}
.btn-close {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: white;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
  background-image: url(../../../img/cross.png);
}

.brand_mens {
  & ul {
    & li {
      & a {
        color: #dfdfdf;
        text-decoration: none;
        font-size: 16px;
        position: relative;
        font-weight: 600;
        margin: 0 23px; 
        display: block;
        transition: 0.5s all;
        &:hover {
          transform: translateY(-2px);
          color: $white !important;
        }
        &.babyshoot{
          color: #fdf79e;
          &:hover{
            color: darken(#fdf79e, 10) !important;
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .header {
    &.indexHeader {
      & .brand-name {
        & img {
          height: 80px !important;
        }
      }
    }
  }
}