@charset "UTF-8";

@import "variables";


.steping-1 {
  height: 0px;
  padding-top: 100%;
  & img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
  }
}
.steping-2 {
  height: 0px;
  padding-top: calc(100% - 31%);
  & img {
    // border-top-right-radius: 30px;
    object-fit: cover;
    position: absolute;
    inset: 0px 0px auto 0px;
    height: 100%;
  }
}
.steping-3 {
  height: 0px;
  padding-top: calc(100% - 30%);
  & img {
    object-fit: cover;
    position: absolute;
    inset: 0px 0px auto 0px;
    height: 100%;
  }
}

// testimonials
.testimonials {
  background: var(--bg);
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    background: url(../../../img/testimonial.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1) drop-shadow(2px 4px 6px silver) opacity(0.8);
  }
  & .owl-carousel {
    & .owl-item {
      & img {
        display: unset;
        width: auto;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@mixin hero-mixin-min-sm() {
}
// Medium devices (tablets, 768px and up)
@mixin hero-mixin-min-md() {
}

// Large devices (desktops, 992px and up)
@mixin hero-mixin-min-lg() {
}

// X-Large devices (large desktops, 1200px and up)
@mixin hero-mixin-min-xl() {
}

// XX-Large devices (larger desktops, 1400px and up)
@mixin hero-mixin-min-xxl() {
}

// X-Small devices (portrait phones, less than 576px)
@mixin hero-mixin-max-xs() {
}

// Small devices (landscape phones, less than 768px)
@mixin hero-mixin-max-sm() {
  .testimonials {
    &::before {
      display: none;
    }
  }
}

// Medium devices (tablets, less than 992px)
@mixin hero-mixin-max-md() {
}

// Large devices (desktops, less than 1200px)
@mixin hero-mixin-max-lg() {
}

// Large devices (desktops, less than 1300px)
@mixin hero-mixin-max-1300() {
}

// X-Large devices (large desktops, less than 1400px)
@mixin hero-mixin-max-xl() {
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  @include hero-mixin-min-sm();
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  @include hero-mixin-min-md();
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  @include hero-mixin-min-lg();
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  @include hero-mixin-min-xl();
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  @include hero-mixin-min-xxl();
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  @include hero-mixin-max-xl();
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  @include hero-mixin-max-lg();
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  @include hero-mixin-max-md();
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  @include hero-mixin-max-sm();
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  @include hero-mixin-max-xs();
}

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width
