body {
  font-family: "Roboto Slab", serif !important;
}
.home-slide:before {
  position: absolute;
  content: "";
  right: -25px;
  top: 0;
  bottom: 0;
  background-image: url(../../../img/shape3.png);
  background-position: right;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-repeat: no-repeat;
}

.category {
  & .category_sldier {
    & .owl-item {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & .category_sldier_box {
      background: var(--bg);
      background-size: cover;
      height: 75px;
      display: inline-flex;
      width: 130px;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      color: #fff;
      text-decoration: none;
      font-family: Objectivity,Arial,Helvetica Neue,Helvetica,sans-serif;
      font-size: 13px;
      & span { 
      }
    }
    & .owl-nav {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 32%;
      transform: translateY(-50%);
      width: 100%;
      height: 0;
      & button {
        display: inline-flex;
        height: 35px;
        width: 35px;
        background-color: #fff;
        justify-content: center;
        align-items: center;
        margin-left: -18px;
        margin-right: -18px;
        border-radius: 50px;
      }
    }
  }
}

/* photographer section start */
.photographer {
  background-image: linear-gradient(180deg, rgba(20, 27, 36, 1), rgba(20, 27, 36, 1));
  & .section-title {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    & h2 {
      margin: 20px auto 10px;
      color: white;
      line-height: 48px;
      font-weight: 700;
    }
  }
}
.photographer_1 {
  position: relative;
  & .content {
    margin-top: -60px;
    position: absolute;
    padding-left: 10px;
    justify-content: space-between;
    left: 0;
    right: 0;
    & h4 {
      margin-top: 20px;
    }
    & .small-button {
      background: black;
      border-radius: 4px;
      color: white;
      display: inline-block;
      font-size: 14px;
      letter-spacing: 0.5px;
      font-weight: bold;
      padding: 10px;
      position: relative;
      text-transform: capitalize;
      text-decoration: none;
      margin-right: 23px;
      transition: 0.8s;
      margin-top: 5px;
      & a {
        color: white;
      }
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}

.shoot {
  & .photoghraphy_box {
    & .book_now {
      background: black;
      border-radius: 4px;
      color: white;
      display: inline-block;
      font-size: 12px;
      letter-spacing: 0.5px;
      font-weight: bold;
      padding: 7px 13px;
      text-transform: capitalize;
      text-decoration: none;
      transition: 0.8s;
      z-index: 9;
      margin: 0 12px 12px 0;
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  // @include navbar-mixin-min-sm();
  // @include heading-fs-12-mixin-min-sm();
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  // @include navbar-mixin-min-md();
  // @include heading-fs-12-mixin-min-md();
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  // @include navbar-mixin-min-lg();
  // @include heading-fs-12-mixin-min-lg();
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  // @include navbar-mixin-min-xl();
  // @include heading-fs-12-mixin-min-xl();
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  // @include navbar-mixin-min-xxl();
  // @include heading-fs-12-mixin-min-xxl();
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  // @include navbar-mixin-max-xl();
  // @include heading-fs-12-mixin-max-xl();
}

// Large devices (desktops, less than 1300px)
@media (max-width: 1299.98px) {
  // @include navbar-mixin-max-1300();
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  // @include navbar-mixin-max-lg();
  // @include heading-fs-12-mixin-max-lg();
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  // @include navbar-mixin-max-md();
  // @include heading-fs-12-mixin-max-md();
  .slider1 {
    padding-right: 0px;
  }
  .wedding-slide:before {
    position: absolute;
    content: "";
    right: 0;
    top: 45px;
    bottom: 0;
    left: 0;
    background-image: url(../../../img/shape4.png);
    background-position: bottom;
    height: 100%;
    width: 100%;
    z-index: 5;
    background-repeat: no-repeat;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  // @include navbar-mixin-max-sm();
  // @include heading-fs-12-mixin-max-sm();
  /*---------------------------------------------------------------------
                                weddingphotographer SECTION
    -----------------------------------------------------------------------*/
  .hero .wedding_content1 {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    text-align: center;
  }
  .wedding-slide:before {
    position: absolute;
    content: "";
    right: 0;
    top: 45px;
    bottom: 0;
    left: 0;
    background-image: url(../../../img/shape4.png);
    background-position: bottom;
    height: 100%;
    width: 100%;
    z-index: 5;
    background-repeat: no-repeat;
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  // @include navbar-mixin-max-xs();
  // @include heading-fs-12-mixin-max-xs();
  /*---------------------------------------------------------------------
                                weddingphotographer SECTION
    -----------------------------------------------------------------------*/
  .hero .wedding_content1 {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    text-align: center;
  }
  .wedding-slide:before {
    position: absolute;
    content: "";
    right: 0;
    top: 45px;
    bottom: 0;
    left: 0;
    background-image: url(../../../img/shape4.png);
    background-position: bottom;
    height: 100%;
    width: 100%;
    z-index: 5;
    background-repeat: no-repeat;
  }
  .slider1 {
    padding-right: 0px;
  }
  .hero .comman_button {
    padding: 4px 8px;
  }
}
// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width
