@import "variables";
 
.portfolio-categories {
  padding: 75px 15px;
  & > [class*="container"] {
    min-height: 100vh;
    & ul#portfolioCat {
      border: none;
      &.nav-tabs {
        & li.nav-item {
          & .nav-link {
            border: none;
            color: $gray-600;
            position: relative;
            &::after {
              content: '';
              position: absolute;
              inset: auto 17px -15px 17px;
              height: 4px;
              background: $black;
              opacity: 0;
              transition: 0.5s all ease-in-out;
            }
            &:hover {
              &::after {
                inset: auto 17px -3px 17px;
                opacity: 1;
              }
            }
            &.active {
              color: $gray-900;
              &::after {
                inset: auto 17px -3px 17px;
                opacity: 1;
              }
            }
          }
        }
      }
    }
    & #portfolioCatContent {
      & .tab-pane {
        & .image_box {
          padding-top: 121.5%;
          & img {
            object-fit: cover;
            z-index: 0;
            transition: 0.5s all ease-in-out;
          }
          &:hover {
            & img {
              transform: scale(1.1);
            }
          }
          & img.lazy ~ .lazy-wave {
            animation: wave 1s infinite linear forwards;
            background: rgba($gray-500, 0.5);
            background: linear-gradient(to right, transparent 8%, rgba($gray-500, 0.5) 18%, transparent 33%);
            background-size: 800px 104px;
            position: absolute;
            inset: 0;
            z-index: 1;
          }
          & .cat_name_box {
            background: linear-gradient(0deg, rgba($gray-800, 0.5), transparent);
          }
        }
      }
    }
  }
}


@keyframes wave{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}
