%tras-01 {
  transition: 0.1s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-02 {
  transition: 0.2s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-03 {
  transition: 0.3s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-04 {
  transition: 0.4s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-05 {
  transition: 0.5s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-06 {
  transition: 0.6s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-07 {
  transition: 0.7s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-08 {
  transition: 0.8s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-09 {
  transition: 0.9s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-1 {
  transition: 1s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-15 {
  transition: 1.5s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-2 {
  transition: 2s all cubic-bezier(0.25, 0.1, 0, 1.7);
}

::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color:black;
}

::-webkit-scrollbar {
  width: 6px;
  background-color:black;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}
body{
  font-family: Objectivity,Arial,Helvetica Neue,Helvetica,sans-serif;
}
@font-face {
  font-family: 'Tiempos Headline';
  src: url('../../../fonts/5ca96190d636b7564a5cc13c_Tiempos%20Headline%20Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  }
  @font-face {
  font-family: 'Tiempos Headline';
  src: url('../../../fonts/5d242368aab4a5cfacdd9127_TiemposHeadline-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
  }
  @font-face {
    font-family: Objectivity;
    font-weight: 400;
    src: url(../../../fonts/Objectivity-Regular.woff) format("woff"), url(../../../fonts/Objectivity-Regular.woff2) format("woff2"),
        url(../../../fonts/Objectivity-Regular.otf) format("opentype");
    font-display: swap;
}
@font-face {
    font-family: Objectivity;
    font-weight: 500;
    src: url(../../../fonts/Objectivity-Medium.woff) format("woff"), url(../../../fonts/Objectivity-Medium.woff2) format("woff2"),
        url(../../../fonts/Objectivity-Medium.otf) format("opentype");
    font-display: swap;
}
@font-face {
    font-family: Objectivity;
    font-weight: 700;
    src: url(../../../fonts/Objectivity-Bold.woff) format("woff"), url(../../../fonts/Objectivity-Bold.woff2) format("woff2"), url(../../../fonts/Objectivity-Bold.otf) format("opentype");
    font-display: swap;
}
.contact{
    align-items: center;
    position:relative;
    padding-top:121px;
    }
.contact .info-box {
  color: #444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  margin-bottom: 30px;
  width: 100%;
  border-radius:20px;
  position: relative;
}

.contact .info-box i {
  font-size: 32px;
  color: black;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #141b2461;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #666;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  & a{
    color:black;
  }
}
.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  border-radius:20px;
  position: relative;
  margin-bottom:10px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 25px;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #111111;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background:black;
  border: 0;
  padding: 10px 32px;
  color: #fff;
  transition:.8s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  transform: translateY(-5px);
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.iti{
  display:block;
}