%tras-01 {
  transition: 0.1s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-02 {
  transition: 0.2s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-03 {
  transition: 0.3s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-04 {
  transition: 0.4s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-05 {
  transition: 0.5s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-06 {
  transition: 0.6s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-07 {
  transition: 0.7s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-08 {
  transition: 0.8s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-09 {
  transition: 0.9s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-1 {
  transition: 1s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-15 {
  transition: 1.5s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-2 {
  transition: 2s all cubic-bezier(0.25, 0.1, 0, 1.7);
}

::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgba($black, 0);
}

::-webkit-scrollbar {
  width: 6px;
  background-color: rgba($black, 0);
}

::-webkit-scrollbar-thumb {
  background-color: black;
}
body {
  font-family: "Roboto Slab", serif !important;
}
// @font-face {
//   font-family: 'Tiempos Headline';
//   src: url('../../../fonts/5ca96190d636b7564a5cc13c_Tiempos%20Headline%20Bold.otf') format('opentype');
//   font-weight: 700;
//   font-style: normal;
//   font-display: auto;
//   }
//   @font-face {
//   font-family: 'Tiempos Headline';
//   src: url('../../../fonts/5d242368aab4a5cfacdd9127_TiemposHeadline-Light.otf') format('opentype');
//   font-weight: 300;
//   font-style: normal;
//   font-display: auto;
//   }
//   @font-face {
//     font-family: Objectivity;
//     font-weight: 400;
//     src: url(../../../fonts/Objectivity-Regular.woff) format("woff"), url(../../../fonts/Objectivity-Regular.woff2) format("woff2"),
//         url(../../../fonts/Objectivity-Regular.otf) format("opentype");
//     font-display: swap;
// }
// @font-face {
//     font-family: Objectivity;
//     font-weight: 500;
//     src: url(../../../fonts/Objectivity-Medium.woff) format("woff"), url(../../../fonts/Objectivity-Medium.woff2) format("woff2"),
//         url(../../../fonts/Objectivity-Medium.otf) format("opentype");
//     font-display: swap;
// }
// @font-face {
//     font-family: Objectivity;
//     font-weight: 700;
//     src: url(../../../fonts/Objectivity-Bold.woff) format("woff"), url(../../../fonts/Objectivity-Bold.woff2) format("woff2"), url(../../../fonts/Objectivity-Bold.otf) format("opentype");
//     font-display: swap;
// }
.hero {
  height: auto;
  position: relative;
  padding-top: 44px;
}
.hero .carousel .carousel-inner .carousel-item {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}
.carousel-control-prev {
  left: 0;
}
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 57px;
  width: 4%;
  padding: 0;
}

.hero .comman_button {
  position: static;
  display: inline-block;
  padding: 14px 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #141b24;
  border-radius: 5px;
  background-color: #141b24;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  transition: 0.8s;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15), 5px 5px rgba(0, 0, 0, 0.1);
  }
}
.hero .content {
  position: relative; 
  & h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    letter-spacing: -0.02em;
  }
  & p {
    color: #454f5c;
  }
}
.home-slide:before {
  position: absolute;
  content: "";
  right: -25px;
  top: 0;
  bottom: 0;
  background-image: url(../../../img/shape3.png);
  background-position: right;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-repeat: no-repeat;
}
/* Hero section End */
/* afford section start */
.afford {
  background-image: linear-gradient(180deg, rgba(20, 27, 36, 1), rgba(20, 27, 36, 1));
  padding: 35px;
}
.afford .comman_button {
  border-color: #c1c8d4;
  background-color: #fff;
  color: #454f5c;
  text-decoration: none;
  padding: 14px 25px;
  transition: 0.8s;
  margin-top: 15px;
  border-radius: 5px;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15), 5px 5px rgba(0, 0, 0, 0.1);
  }
}
/* howitworks section start */
.howitworks {
  padding: 10px 0;
  & .section-title {
    text-align: center;
    padding-bottom: 10px;
    & h4 {
      color: #454f5c;
      letter-spacing: 0.02em;
    }
    & h2 {
      margin: 20px auto 10px;
      color: #141b24;
      line-height: 48px;
      font-weight: 700;
    }
  }
  & .howitwork_1 {
    & .image img {
      position: static;
      margin-bottom: 15px;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
      
    }
    & .step-count {
      position: relative;
      margin-top: -129px;
      float: right;
      font-size: 237px;
      color: #d6d9de;
      line-height: 145px;
    }
    & .content {
      & h4 {
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 37px;
        font-weight: 700;
      }
    }
  }
  & .comman_button {
    position: static;
    display: inline-block;
    margin-bottom: 30px;
    padding: 14px 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #141b24;
    border-radius: 5px;
    background-color: #141b24;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    transition: 0.8s;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 3px 3px rgba(0, 0, 0, 0.15), 5px 5px rgba(0, 0, 0, 0.1);
    }
  }
  & i {
    padding-right: 10px;
  }
}
/* delivery section start */
.delivery {
  background-image: linear-gradient(180deg, rgba(20, 27, 36, 1), rgba(20, 27, 36, 1));
  padding: 20px;
}
.delivery .comman_button {
  border-color: #c1c8d4;
  background-color: #fff;
  color: #454f5c;
  text-decoration: none;
  padding: 14px 25px;
  transition: 0.8s;
  margin-top: 10px;
  border-radius: 5px;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15), 5px 5px rgba(0, 0, 0, 0.1);
  }
}
.delivery .button {
  margin-top: 21px;
}
/* talent section start */
.talent {
  padding: 30px 0;
  & .section-title {
    text-align: center;
    padding-bottom: 30px;
    & h4 {
      color: #454f5c;
      letter-spacing: 0.02em;
    }
    & h2 {
      margin: 20px auto 10px;
      color: #141b24;
      line-height: 48px;
      font-weight: 700;
    }
  }
  & .image {
    margin-bottom: 10px;
    border-radius: 60px;
    & .image2 img {
      // height: 230px;
      border-top-left-radius: 30px;
      object-fit: cover;
      width: 100%;
    }
  }
  & .content {
    justify-content: space-between;
    margin-top: -60px;
    & h4 {
      padding-left: 20px;
    }
  }
  & .expertise_outer {
    position: relative;
    &::after{
      position: absolute;
      content: '';
      bottom: 0px;
      width: 70%;
      left: 0;
      right: 0;
      height: 68px;
      background-color: #0000009e;
      -webkit-filter: blur(0) brightness(0.5);
      -webkit-mask-image: radial-gradient(ellipse farthest-side at bottom left, #000 70%, rgba(0,0,0,0) 100%);
    }
    & .small-button {
      background: white;
      border-radius: 4px;
      color: black;
      display: inline-block;
      font-size: 13px;
      letter-spacing: 0.5px;
      font-weight: bold;
      padding: 7px 17px;
      position: relative;
      text-transform: capitalize;
      text-decoration: none;
      z-index: 9;
      overflow: hidden; 
      transition: 0.8s;
      border-radius: 5px;
    }
  }
}
/* booking section start */
.booking {
  background-image: linear-gradient(180deg, rgba(20, 27, 36, 1), rgba(20, 27, 36, 1));
  padding: 20px;
}
.booking .comman_button {
  border-color: #c1c8d4;
  background-color: #fff;
  color: #454f5c;
  text-decoration: none;
  padding: 14px 25px;
  transition: 0.8s;
  border-radius: 5px;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15), 5px 5px rgba(0, 0, 0, 0.1);
  }
}
.booking .button {
  margin-top: 21px;
}
/* counter section start */
div#visitsNum {
  line-height: 63px;
  font-size: 60px !important;
  color: black;
  font-family: Objectivity, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 600;
}
.counter {
  padding: 10px 0;
  background: white;
  & .section-title {
    text-align: center;
    padding-bottom: 30px;
    & h4 {
      margin-bottom: 10px;
      padding-bottom: 10px;
      letter-spacing: 0.02em;
      color: black;
    }
  }
  & .counter_1 {
    padding-left: 5px;
    & i {
      font-size: 20px;
      color: #a8a8a8;
      margin-bottom: 20px;
      padding-left: 7px;
    }
    & h5 {
      color: #a8a8a8;
      font-size: 15px;
    }
  }
  & .content h2 {
    font-size: 60px !important;
    color: black;
    font-family: Objectivity, Arial, Helvetica Neue, Helvetica, sans-serif;
  }
}



img ~ .lazy-wave {
  animation: wave 1s infinite linear forwards;
  background: rgba($gray-500, 0.5);
  background: linear-gradient(to right, transparent 8%, rgba($gray-500, 0.5) 18%, transparent 33%);
  background-size: 800px 104px;
  position: absolute;
  inset: 0;
  z-index: 1;
  backdrop-filter: blur(40px);
  display: none;
}
img.lazy ~ .lazy-wave {
  animation: wave 1s infinite linear forwards;
  background: rgba($gray-500, 0.5);
  background: linear-gradient(to right, transparent 8%, rgba($gray-500, 0.5) 18%, transparent 33%);
  background-size: 800px 104px;
  position: absolute;
  inset: 0;
  z-index: 1;
  backdrop-filter: blur(40px);
  display: inherit;
}

@keyframes wave {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}